* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.card {
  height: 510px;
  width: 335px;
 padding:15px 35px;

  background-color: #dde1e9ed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 10px;
  height:100%;
  width: 100%;
  background-color: white;
  border-radius: 15px;

}
.nature {
  height:150px;
  width: 100%;
  background-image: url(../JUST_PRAC/nature.jpg);
  background-size: cover;
  margin-bottom: 15px;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
li {
  list-style: none;

  border: 2px solid rgba(244, 240, 240, 0.755);
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(150, 133, 133);
  margin-top: 10px;
}
#hills{
    margin-left: 10px;
}
.heading {
  font-size: 35px;
  
  margin-top: 20px;
}
.para {
  
  margin-top: 10px;
  font-size: 15px;
  color: rgb(100, 99, 99);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  text-align: justify;
  width: 250px;
}
button {
  
  margin-top: 15px;
  font-size: 15px;
  height: 43px;
  width: 120px;
  color: rgb(72, 122, 221);
  background-color: lightblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  border-color: transparent;
  border-radius: 15px;
  align-self: center;
}
